body {
    background-color: lightblue;
  }

  h1 {
    color: white ;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
  }
  .main-header {

    border: 2px solid gray ;
    
    background-color: blue ;
    text-align:left;


  }

  #sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 2;
    top: 2;
    background-color: blue;
    z-index: 2;
    padding: 2px;
  }

  nav ul li{
    list-style: none;
    margin: 50px 20px ;
    font-family: sans-serif;
    
  }

  nav ul a{

  text-decoration: none;
  color: white;  
  
  }